@import url('https://fonts.googleapis.com/css2?family=Alata&family=Barlow+Semi+Condensed:wght@400;700&family=Barlow:wght@400;600&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Didact+Gothic&family=Fraunces:ital,wght@0,900;1,700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didact Gothic';
}

/* Mobile View */
header {
    height: 21.5vh;
    width: 100%;
    box-shadow: 0 5px 15px rgb(119, 4, 4);
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 100px;
    margin: 0 1rem;
}

.profile-section {
    padding: 5rem;
}

.profile1, .profile2, .profile3 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid black;
    box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.534);
    border-radius: 4px;
}

.hero {
    margin-bottom: 0.5rem;
}

.hero img {
    height: 100px;
    border-radius: 50%;
}

.profile-info {
    margin-bottom: 0.5rem;
}

.profile-info h2 {
    letter-spacing: 2px;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    font-size: 32px;
}

.fb {
    color: #3a5795;
}

.ig {
    color: #e1306c;
}

.twitter {
    color: #36d8ff;
}

.social-links i:hover {
    cursor: pointer;
}

.footer {
    box-shadow: 0 5px 15px rgb(119, 4, 4);
    height: 20vh;
    text-align: center;
}

.footer img {
    height: 50px;
    margin: 10px 0px;
}

/* Desktop View */
@media screen and (min-width: 1000px) {
    .profile-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        align-self: stretch;
    }
}